#landing-container{
    padding: 2%;
    margin:4% auto;
    margin-top:4em;
}

#preface {
    font-size: 1.1rem;
    font-family: Overpass Mono;
    color: rgb(136, 146, 176)
}

#title {
    font-size: 6rem;
    font-weight: 500;
    color: black;
}

#subtitle{
    font-size: 3.5rem;
    font-weight: 500;
    color: rgb(110,110,110);
}

#title-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(110,110,110);
    margin-top: 1em;
}