:root {
    --primary: black;
    --secondary: rgb(110, 110, 110);
    --subsecondary: rgb(136, 146, 176);
    --background: white;
    --fontColor: #232323;
    --border: #c0c0c049;
    color: var(--fontColor);
    background-color: black;
}

body {
    color: var(--fontColor);
    
}

#root {
    background-color: var(--background);
}